# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Environment
.env
.venv/
env/
venv/

# IDE
.vscode/
.idea/
*.swp

# Data & Models (generated)
evaluation/results/
logs/
mlruns/


# OS
.DS_Store
Thumbs.db
desktop.ini

# Jupyter
.ipynb_checkpoints/